<?xml version="1.0" ?>
<metadata>

<launch>

<node pkg="opinau_filler" type= "brain" name = "brain" />

<node pkg="opinau_filler" type= "debug_purpose_listener" name = "starwheel1" />

<node pkg="opinau_filler" type= "debug_purpose_listener" name = "starwheel2" />

<node pkg="opinau_filler" type= "debug_purpose_listener" name = "conveyor" />

<node pkg="opinau_filler" type= "debug_purpose_listener" name = "labelprint" />

<node pkg="opinau_filler" type= "debug_purpose_listener" name = "labelapply" />

<node pkg="opinau_filler" type= "debug_purpose_listener" name = "labelpull" />

<node pkg="opinau_filler" type= "key_input_simple_node" name = "keyboard" output="screen" launch-prefix="gnome-terminal  -- "/>

</launch>

</metadata>
